.receipt {
  width: 50%;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightgrey;
}

.receipt__button {
  padding: 15px;
  background: transparent;
  cursor: pointer;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: #fff;
  font-size: 20px;
}

.receipt__button svg {
  margin-right: 20px;
}

.receipt h2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 11px;
  padding-bottom: 12px;
}