.receipt-item {
  padding: 18px;
  border-bottom: 1px solid black;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.receipt-item__info {
  display: flex;
  flex-direction: column;
}

.receipt-item__name {
  margin-bottom: 5px;
}